API_ID=11973721
API_HASH=5264bf4663e9159565603522f58d3c18
BOT_TOKEN=5821723145:AAF8GaZyoRLFQtXz4LvoO6OW_k1BPwCa0tQ
SESSION_STRING=BQBiMZkAFnVJhGVn--AGfihwwVXuvGXztUdkwXFBtL42S3ry_Z76_QxfbSPaHVp1NFOfag34_ZP3lPylkxTXpIJg2hDTITxyLj2zmFOBhv4_wcdyKrMC9KoirBK_KotIoiUfX9DeorsRiNcmw2yR859iyubi2xrYaVNAgfMjl7MQ0t9dH06Rz5qZYHSDC5XrXyPmq3aYhhtd0ZmUCFZYn5OdekwXzHmAoe5WIOLJFsOQUIdal9vR-D3OkEFgJV-o20kktqqFretPWQK68EwH8qXsvWUHB-2J19z-TwBjcl6Rrz8UlCrJJ8RvTAKHrdL2fF29EJaVvN2VMhonK3mEI6Ns9VVpaQAAAABS8Xg8AA
CHAT=-1001715180239
ADMINS=1391556668
DATABASE_URI=mongodb+srv://KarthikMovies:KarthikUK007@cluster0.4l5byki.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=Cluster0
